:root {
    --color-active: #5C374C;
    --color-background: #985277;
    --color-hover: #CE6A85;
    --color-accent: #FF8C61;
    --color-accent-light: #FAA275;
}
body {
    font-family: "Lucida Console", Monaco, monospace;

}